*{
    padding:0;
    margin:0;
}

body{
    background-color: rgb(17, 129, 111);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    gap: 2vmin;
}
.title{
    height: 10vmin;
    width: 100%;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.box{
   height: 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
   font-size: 8vmin;
   color: rgb(20, 13, 56);
   background-color: rgb(238, 238, 238);  
}
.winner{
    display:none;
    background-color: black;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 2px 2px;
}
.newgame{
    height: 6vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    color: #000;
    background-color: rgb(238, 238, 238); 
    margin: 4px 4px; 
    font-weight: 700;
}